/* Your Code Here! */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
}

.u-textCenter {
  text-align: center;
}

.navTitle {
  color: var(--primary);
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}
